# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
    </ol>

<ol>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
    <li>Scikit-learn</li>
    <li>Scipy</li>
    </ol>

DS Tools |
-------|
IBM Watson Studio |
Jupyter Notebooks |
RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
<ul>
    <li>Popular Data science languages</li>
    <li>Popular Data science Python libraries</li>
    <li>Popular Data science Open Sources tools</li>
    <li>Basic python expressions</li>
    </ul>

## Author
Saad Ahmad